*{
    margin:0;
    border:0;
}

html{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
body{
    background-color:rgb(47, 47, 47);
    color:white;
}
h1{
    color:rgb(253, 253, 37)
}
input{
    display:flex;
    flex-direction: column;
    margin-top:10px;
    border-radius:8px;
}

button{
    margin-top:10px;
    border-radius:8px;
    width:173px;
    background-color:rgb(86, 230, 86)
}
.err{
    color:rgb(252, 69, 69);
    margin-top:10px;
    display:none;
}
.ok{
    margin-top:10px;
    color:rgb(154, 255, 3);
    display:none;
}
.err1{
    color:rgb(252, 69, 69);
    margin-top:10px;
    display:none;
}
